@model CMS.IService.FrontEnd.Common.Dto.HeaderInfo
<div class="top">
    <div class="crumbs">
        <div class="crumbs_main">
            <div class="crumbs_main_fl">欢迎来到<a href="/Home/Index">工控平台</a></div>
            <div class="crumbs_main_fr">咨询热线：@Html.Encode(Model.serviceTel)</div>
        </div>
    </div>
</div>